<%
  modal_id = local_assigns.fetch(:modal_id)
  title = local_assigns.fetch(:title)
  message = local_assigns.fetch(:message)
  delete_path = local_assigns.fetch(:delete_path)
  confirm_label = local_assigns.fetch(:confirm_label, "Delete")
%>

<div
  class="modal fade"
  id="<%= modal_id %>"
  tabindex="-1"
  aria-labelledby="<%= "#{modal_id}-label" %>"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title" id="<%= "#{modal_id}-label" %>"><%= title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-2">
        <p class="mb-0 text-secondary"><%= message %></p>
      </div>
      <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cancel</button>
        <form action="<%= delete_path %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger btn-sm"><%= confirm_label %></button>
        </form>
      </div>
    </div>
  </div>
</div>
